/* ===============================================================*\
   =====================   Police AlterEgo   =====================
\* ===============================================================*/

@font-face {
    font-family: 'alterFont';
    src:    url('../font/Cera-Pro.otf') format('truetype'),
            url('../font/Cera-ProBold.otf') format('bold'),
            url('../font/Cera-ProItalic.otf') format('italic');
    font-weight: normal;
    font-style: normal;
}

/* ===============================================================*\
   =====================        NAVBAR       =====================
\* ===============================================================*/

.navbar {
    margin-top: -10px;
    position: fixed;
    z-index: 10;
    border: 0;
}

#check_nav {
    display: none;
}


#check_nav:checked + #trans_nav{
    transform: translateX(0vw);
    transition-duration: .6s;
}

#check_nav:not(:checked) + #trans_nav{
    transform: translateX(12vw);
    transition-delay: .6s;
    transition-duration: .6s;
}

#check_nav:not(:checked) + #trans_nav .content {
    transform: translateX(12vw);
}

#check_nav:not(:checked) + #trans_nav .grip_nav {
    transform: translateX(-12vw);
    transition-duration: .6s;
}

#check_nav:checked + #trans_nav .grip_nav {
    transform: translateX(0);
    transition-duration: .6s;
    transition-delay: .6s;

}

#navbar_mobile {
    z-index: 15;
    left: -12vw;
    position: fixed;
    list-style: none;
    height: 100vh;
    background-color: black;
    width: 12vw;
    max-width: 50px;
    margin: 0;padding: 0;border: 0;
    top: 0;
    text-align: center;
}

#navbar_mobile a {
    line-height: calc(100vh / 9);
    font-size: 2em;
    width: 1.3em;
    color: rgb(242,242,242);
}

#navbar_mobile .last_child {
    line-height: calc(100vh / 9);
    font-size: 2em;
    width: 1.3em;
    color: rgb(242,242,242);
    position: absolute;
    bottom: 5px;
    transform: translateX(-50%);
}

/* ===============================================================*\
   =====================       Content       =====================
\* ===============================================================*/
.content {
    width: 80vw;
    margin-left: 16vw;
}
.badge-notify{
    background: #d90017;
    position:relative;
    top: -60px;
    left: 10px;
}