@import url('https://fonts.googleapis.com/css?family=');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

/*---------------CSS COACH----------------*/

body{
    background-color: rgb(242,242,242);
    text-align: center;
    font-family: alterFont;

}
/* Profil */

body {
    font-family: alterFont;
    background-color: rgb(242,242,242);
}
.top_worker {
    text-align: center;
}
.img_top_w {
    margin-top: 10px;
    width: 30vw;
}
.top_worker_by {
    text-align: right;
}
.by {
    color: grey;
    font-size: 20px;
    margin-top: 0;
    padding: 0;
}


#qui{
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    padding: 5px 0 5px 0;
    margin: -15px 0 -10px 0;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 2em;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}
.text_note{
    font-size: 1.5em;
}
.number_note{
    font-size: 3em;
}
.fake_rating{
    color: gold;
}

.coach_i{
    margin-left: 5px;
}

/* Coach Activite */
.my_activity{
    background-color: #FF6600;
}
.my_activity h1{
    color: white;
}
.my_list{
    margin-top: 8px;
}

/* tuiles */

.tuile {
    text-align: center;
    border-radius: 15px;
    width: 80vw;
    margin: 0 0 40px 0;
}

.tuile_header {
    background-color: #b0f000;
    border-radius: 7px 7px 0 0;
    margin: 0;
    text-align: left;
}

.tuile_header_note {
    background-color: #FF6600;
    border-radius: 7px 7px 0 0;
    margin: 0;
    text-align: left;
}

.tuile_header h2 {
    font-size: 18px;
    line-height: 20px;
    color: white;
    font-family: alterFont;
    padding: 5px;
}

.tuile_header_note h2 {
    font-size: 18px;
    line-height: 20px;
    color: white;
    font-family: alterFont;
    padding: 5px;
}

.i_left {
    float: left;
    margin-left: 10px;
    font-size: 20px;
}

.i_right {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}


.tuile_body {
    margin: 0;
    background-color: white;
    padding-bottom: 15px;
    margin-top: -10px;
    padding-top: 15px;
    font-size: 15px;
}

.start_coach {
    width: 55vw;
    position: relative;
}

.start_activity {
    margin: 0;
    background-color: white;
    border: none;
}

.start_activity p {
    position: absolute;
    z-index: 5;
    margin-left: 25vw;
    line-height: 61px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.lieu_worker {
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
}

.info {
    text-align: left;
    margin-left: 20px;
}

.pin_seance{
    margin-right: 10px;
}

.titre_seance{
    margin: 20px auto 20px auto;
    color: #00b0f0;
    font-size: 2em;
}

/*====================  CHECKING  ==============================*/

.check_container {
    width: 80vw;
    height: 62px;
    background-color: white;
    border: 1px solid darkslategray;
    border-radius: 90px;
    text-align: left;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.check_photo {
    border-radius: 100%;
    width: 60px;

}

.check_name {
    line-height: 60px;
    margin: 0;
}

.btn_check {
    position: absolute;
    z-index: 10;
    right: 0;
    height: 60px;
    width: 60px;
    border-radius: 90px;
    background-color: #00a7d0;
}

.check_link {
    float: right;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background-color: black;
    border-radius: 90px;
}

.check_alert {
    font-size: 20px;
    line-height: 60px;
    transform: translateY(-7px);
}



.red_container {
    background-color: #FF6600;
}

.green_container {
    background-color: #b0f000;
}

.grey_container {
    background-color: lightgrey;
}

#link_1 {
    color: #b0f000;
}
#link_2 {
    color: #FF6600;
}

.seance_date {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.fa-clock-reverse {
    transform: rotate(180deg);
}

/*======================     COACH_BADGE/RATING     ============================*/

.ratingstar {
    color: gold;
}
.ratingstar:hover{
    color: #FF6600;
    font-size:2.1em;
}

.badge_coach{
    background-color: #FF6600;
    color: white;
    border-radius: 2px;
    font-weight: 900;
    padding: 3px 3px 3px 3px;
    margin-top: 5px;
    font-size: 1.8em;
}

.badge_coach:hover{
    background-color: white;
    color: #FF6600;
}

.btn-vertego{
    background-color : #FF6600;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}

.titre_activite{
    border-top: 1px solid lightsteelblue;
    border-bottom: 1px solid lightsteelblue;
    color: #00a7d0;
}

.tuile_body_acti {
    margin: 0;
    background-color: white;
    padding-bottom: 15px;
    margin-top: -10px;
    padding-top: 15px;
    font-size: 15px;
}

.btn-info{
    margin-top: 0;
}

.cgu_coach{
    text-align: center;
    bottom: 1px;
    position: fixed;
    margin-left: 11%;
}

.coach_cgu_title{
    font-size: 25px;
    font-family: alterFont;
    color: #00b0f0;
    text-align: center;
}