@import url('https://fonts.googleapis.com/css?family=');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

/*---------------CSS COACH----------------*/

body{
    background-color: rgb(242,242,242);
    text-align: center;
    font-family: alterFont;

}
/* Profil */

#qui{
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    padding: 5px 0 5px 0;
    margin: -15px 0 -10px 0;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 2em;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}
.text_note{
    font-size: 1.5em;
}
.number_note{
    font-size: 3em;
}
.fake_rating{
    color: gold;
}
.fa{
    margin-right: 5px;
}
.coach_i{
    margin-left: 5px;
}

/* Coach Activite */
.my_activity{
    background-color: #FF6600;
}
.my_activity h1{
    color: white;
}
.my_list{
    margin-top: 8px;
}

/* tuiles */

.tuile {
    text-align: center;
    border-radius: 15px;
    width: 80vw;
    margin: 0 10vw 50px 10vw;
}

.tuile_header {
    background-color: #04cd16;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.tuile_header i {
    float: left;
    padding: 25px 0 25px 30px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.tuile_header h2 {
    font-size: 3vmax;
    padding: 25px;
    font-weight: 600;
}

.tuile_body {
    margin: 0;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding-bottom: 25px;
    margin-top: -10px;
}

.eval {
    background-color: rgb(255, 102, 0);
}

.lieu_coach {
    font-size: 15px;
    font-weight: 600;
}

.top_coach {
    text-align: center;
}
.img_top_w {
    margin-top: 10px;
    width: 50vw;
}

.name_coach {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-weight: bold;
}

.body_first_child {
    font-size: 15px;
    padding-top: 8%;
}

.eval_time {
    float: right;
    margin-right: 30px;
}

.activity_rating {
    text-align: left;
    margin: 0 25px 10px 25px;
}

.start_activity {
    background-color: rgb(28, 138, 219);
    height: 50px;
    width: 55vw;
    margin-left: 15vw;
    border-radius: 50px 50px 50px 50px  ;
    margin-top: 30px;
}

.start_coach {
    width: 75px;
    position: relative;
    left: -25vw;
    top: -12.5px;
}

.start_activity p {
    position: absolute;
    margin-left: 20vw;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
}