tr {
    text-align: center;
}
.title_activity {
    text-align: center;
    color: #00a7d0;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.title_type_activity {
    text-align: left;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    width: 100%;
    font-weight: normal;

}
.block_info {
    margin: 5px;
}
.block_body_plus {
    margin: 10px;
    background-color: #9acfea;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.btn-info {
    width: auto;
    margin-top: 20px;
}
.reservation_access {
    padding: 5px;
    background-color: #00aff2;
    border-radius: 10px;
}
.block_seances_list{
    margin: 5px;
}
.list_title {
    color: #00aff2;
    font-weight: bold;
    font-size: 25px;
    font-family: alterFont;
    text-align: center;
    width: 100%;
    margin: 5px;
}

.btn-reservation{
    margin-bottom: 5px;
    text-transform: uppercase;
}

.back_coach{
    background-color: rgba(255,165,0,0.75);
}

.activite_style{
    border-top: 2px solid lightsteelblue;
    border-bottom: 2px solid lightsteelblue;
}

.placement{
    margin-top: 0;
}

.content_size{
    font-size: 1.4em;
}

.size_image{
    width: 50%;
    height: 50%;
}

.span3{
    box-shadow: 2px 2px 1px #696969;
}