@font-face {
    font-family: 'alterFont';
    src:    url('../font/Cera-Pro.otf') format('truetype'),
    url('../font/Cera-ProBold.otf') format('bold'),
    url('../font/Cera-ProItalic.otf') format('italic');
    font-weight: normal;
    font-style: normal;
}

    body {
        background: url("../images/fond2.jpg") no-repeat center fixed;
        -webkit-background-size: cover;
        background-size: cover;
        font-family: 'alterFont';
        margin: 0;

    }

    input[type=text], input[type=password] {
        margin: 3px 15px 3px 15px;
        height: 40px;
        border: none;
        background-color: rgba(244, 244, 244, 0);
        border-bottom: 1px solid rgb(172,172,172);
        font-size: 15px;
    }

input:hover
{
    border: none;
}

    .entry {
        background-color: rgba(244, 244, 244, 0.7);

    }



body input:-webkit-autofill {
    background: rgba(244, 244, 244, 0.6);
}

i {
    text-align: center;
    background-color: rgba(244, 244, 244, 0);
    border-radius: 3px 0 0 3px ;
    font-size: 20px;
    padding: 7px 15px 7px 15px;
    width: 15px;

}

.logo_group {
     max-height: 15vh;
 }

.logo_layout {
    width: 100vw;
    background-color: rgba(244, 244, 244, 0.6);
    position: absolute;
    bottom: 41px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.content {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 70vh;
    padding-top: 30vh;
}

table {
    margin: auto;
}

.remember {
    margin-right: 1px;
}

.remember_label {

}


.btn {
    border: 0;
    border-radius: 10px;
    margin: 10px;
    background-color: #00aff2;
    height: 50px;
    width: 125px;
    color: white;
    font-size: 15px;
}

.options {
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 40px;
    display: flex;
    justify-content: center;
}

.option_btn {
    width: calc(50vw - 0.5px);
    background-color: rgba(244, 244, 244, 0.6);
    line-height: 38px;
}
td {
    margin-bottom: 20px;
}

#remember_me {

}
