/*---------------CSS WORKER----------------*/
/*---------------Home Page-----------------*/
body {
    font-family: alterFont;
    background-color: rgb(242,242,242);
}
.top_worker {
    text-align: center;
}
.img_top_w {
    margin-top: 10px;
}
.top_worker_by {
    text-align: right;
}
.by {
    color: grey;
    font-size: 20px;
    margin-top: 0;
    padding: 0;
}
.img_top_right_w {
    width: 80px;
}
.name_worker {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.block_seance_worker {
    height: 650px;
    background-color: white;
    margin: 5%;
    border-radius: 10px;
    border-top: 100px solid #04cd16;
}
.block_tile2 {
    margin-top: -100px;
}

.datetime_worker {
    text-align: center;
    margin-top: -20px;
}

.start_worker {
    width: 125px;
}
span {
    font-weight: bold;
}
.badges_worker {
    height: 400px;
    background-color: white;
    margin: 4%;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.block_rhnews_worker {
    height: 350px;
    background-color: white;
    margin: 5%;
    border-radius: 10px;
    border-top: 100px solid blue;
}
.rh_news {
    text-align: center;
}
.badges_worker_challenge {
    border-top: 100px solid darkblue;
    height: 600px;
}


/*========================  QUENTIN   ==================================*/
.tuile {
    text-align: center;
    border-radius: 15px;
    width: 80vw;
    margin: 0 0 40px 0;
}

.tuile_header {
    background-color: #b0f000;
    border-radius: 7px 7px 0 0;
    margin: 0;
    text-align: left;
}

.tuile_header h2 {
    font-size: 18px;
    line-height: 20px;
    color: white;
    font-family: alterFont;
    padding: 5px;
}

.i_left {
    float: left;
    margin-left: 10px;
    font-size: 20px;
}

.i_right {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}


.tuile_body {
    margin: 0;
    background-color: white;
    padding-bottom: 15px;
    margin-top: -10px;
    padding-top: 15px;
    font-size: 15px;
}

.actu_rh {
    background-color: #00b0f0;
}

.lieu_worker {
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
}

.info {
    text-align: left;
    margin-left: 20px;
}

.pin_seance {
    font-size: 30px;
    margin-right: 10px;
}

.start_coach {
    width: 55vw;
    position: relative;
}

.start_activity {
    margin: 0;
    background-color: white;
    border: none;
}

.start_activity p {
    position: absolute;
    z-index: 5;
    margin-left: 25vw;
    line-height: 61px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

/*---------------Settings Page-----------------*/
.flipswitch {
    position: relative;
    width: 130px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
    display: none;
}
.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 40px;
}
.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 65px;
    padding: 0;
    line-height: 42px;
    font-size: 24px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flipswitch-inner:before {
    content: "";
    padding-left: 12px;
    background-color: #04cd16;
    color: #FFFFFF;
}
.flipswitch-inner:after {
    content: "";
    padding-right: 12px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}
.flipswitch-switch {
    width: 60px;
    margin: 5.5px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
}

/*====================== Calendar=============================*/

.fc-content {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.fc-first.fc-last {
    border-bottom: 1px solid black;
}

.agenda {
    padding: 0;
}

.fc-agenda-view .fc-day-grid {
    display: none;
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td {
    display: none;
}

.fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow-y: auto;

}

.fc-time-grid .fc-slats td {
    font-size: 10px;
    line-height: 1.5em;
    height: 1.5em;
}

.fc-time-grid .fc-slats td {
}

.fc-ltr .fc-axis {
    display: none;
}

.fc th {
    background-color: black;
    color: white;
    font-size: 14px;
    border-style: none;
}


.fc-unthemed .fc-today {
    background: #b0f000;
    color: black;
}

.fc td.fc-today {
    border-style: none;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-bottom: none;
    border-top: none;
}

/* ===================    Page Séances            ================================*/

.tuile_seance {
    border-radius: 0px;
    margin: 0;
    font-family: alterFont;
    display: flex;
    -moz-box-shadow: 0px 10px 15px -10px #656565;
    -webkit-box-shadow: 0px 10px 15px -10px #656565;
    -o-box-shadow: 0px 10px 15px -10px #656565;
    box-shadow: 0px 10px 15px -10px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=15);
}

.tuile_body_left {
    width: 50vw;
}
.tuile_body_right {
    width: 30vw;
    display: flex;
}

.reservation_access {
 height: 30px;
    margin: auto;
}

.nom_seance {
    font-size: 25px;
}

h1 {
    margin: 0;
}