{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8">
                <h1 class="worker_name">John Doe</h1>
            </div>
            <div class="col-xs-4">
                <img class="img_worker img-responsive img-circle" src="{{ asset ('assets/images/photo_worker.png')}}">
            </div>
        </div>
    </div>
    <div class="contaier-fluid">
        <div class="row">
            <h2 class="home_title_worker">Programme en cours ... Ma progession:</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                    <span class="sr-only">65% Complete</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
