{% if is_granted('ROLE_WORKER') %}
    {% set route = 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% endif %}
{% if is_granted('ROLE_COACH') %}
    {% set route = 'AlterEgoBundle:Coach:layout_coach.html.twig' %}
{% endif %}

    {% extends route %}

{% block content %}
    <h1>Ajouter ma photo de profil :</h1>

    {{ form_start(form) }}

    {{ form_row(form.file) }}
    <input type="submit" value="Create">
    {{ form_end(form) }}

    <script>

    </script>

{% endblock %}