{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block content %}
    {% include ('@ApplicationSonataUser/Profile/edit_profile.html.twig') %}

    <a class="btn btn-success" href="{{ path('image_new') }}"><i class="fa fa-picture-o"></i> Changer Ma photo de profil</a>

{% endblock %}