{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block content %}
 {% include ('@ApplicationSonataUser/Profile/edit_profile.html.twig') %}
    <a class="btn btn-success" href="{{ path('image_new') }}">Changer Ma photo de profil</a>
{% endblock %}