{% extends '::base.html.twig' %}


    {% block title %}Espace Coach - Alter-Ego{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/coach.css')}}">
    {% endblock %}
   {% block body %}

       {% block navbar %}
           <section class="navbar">
               <input type="checkbox" id="check_nav" data-target="#">
               <label id="trans_nav" for="check_nav">
                   <div class="grip_nav container">
                       <div id="open">
                           <div class="line_grip grip_1"></div>
                           <div class="line_grip grip_2"></div>
                           <div class="line_grip grip_3"></div>
                       </div>
                   </div>
                   <ul id="navbar_mobile">
                       <li><a class="fa fa-home" href="#"></a></li>
                       <li><a class="fa fa-users" href="#"></a></li>
                       <li><a class="fa fa-line-chart" href="#"></a></li>
                       <li><a class="fa fa-heartbeat" href="#"></a></li>
                       <li><a class="fa fa-cogs" href="#"></a></li>
                       <li><i class="fa fa-times last_child"></i></li>
                   </ul>
               </label>
           </section>
       {% endblock %}

       {% block header %}

       {% endblock %}

        <div class="content">
       {% block content %}
       {% endblock %}
        </div>

       {% block footer %}
       {% endblock %}

   {% endblock %}