{% extends 'AlterEgoBundle:RH:layout_RH.html.twig' %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 company_logo">
                    <img src="{{ asset('assets/images/logo-safran.png') }}" alt="">
                </div>
            </div>
        </div>
    {% endblock %}
